<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
  <link href='https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/stylings/auth/register.css">
  <title>Register</title>
</head>

<body>
  <div class="container">
    <div class="auth-container">
      <h1>Register</h1>
      <div id="succDiv">
        <i class='bx bx-alert-triangle'></i>
        <div class="linefordiv"></div>
        <p id="succText"></p>
      </div>
      <div id="errorDiv">
        <i class='bx bx-alert-triangle'></i>
        <div class="linefordiv"></div>
        <p id="errorText"></p>
      </div>
      <div class="input-container">
        <div class="input">
          <input type="text" name="username" placeholder="Username" id="username">
          <i class='bx bxs-user'></i>
        </div>
        <div class="input">
          <input type="text" name="email" placeholder="Email" id="email">
          <i class='bx bx-envelope'></i>
        </div>
        <div class="input">
          <input type="password" name="password" placeholder="Password" class="passwordInputs special" id="password">
          <i class='bx bxs-lock'></i>
          <i class='bx bx-eye-slash passwordIcon'></i>
        </div>
        <div class="input">
          <input type="password" name="confirm password" placeholder="Confirm Password" class="passwordInputs special" id="confirmPassword">
          <i class="bx bx-check-circle"></i>
          <i class='bx bx-eye-slash passwordIcon'></i>
        </div>
      </div>
      <div class="tos-container">
        <label>
          <input type="checkbox" id="tos" class="tos"></type>Agree to our <a href="/document/tos">Terms of service</a>
          </label>
      </div>
      <button class="register-btn" id="registerButton">Register</button>
      <div class="link-container">
        <p>
      Already have an account ? <a href="/auth/login">login</a>
        </p>
      </div>
    </div>
  </div>
  <script src="/js/auth/register.js" type="module"></script>
</body>

</html>