<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylings/logout.css">
  <title>Logout</title>
</head>

<body>
  <div class="container">
    <button class="logoutButton" id="logoutButton">Logout</button>
  </div>
  <script src="/js/logout.js"></script>
</body>

</html>