* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'poppins', Sans-Serif;
  /* Prevents any scrolling issues */
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, deepskyblue 50%, yellow);
  /* Ensures the container takes the full height of the viewport */
}

.auth-container {
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 90%;
  padding: 30px 40px;
  border: 3px solid white;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  color: white;
}

.auth-container h1 {
  font-size: 2.2em;
  font-weight: bold;
  padding: 5px;
}

#errorDiv {
  background-color: red;
  height: 80px;
  padding: 5px;
  width: 100%;
  border-radius: 15px;
  display: none;
  flex-direction: row;
  justify-self: center;
  color: white;
  align-items: center;
  overflow: hidden;
}

.linefordiv {
  align-self: center;
  height: 80%;
  margin-right: 10px;
  width: 1px;
  background: #DCDCDC;
}

#errorDiv p {
  max-height: 100%;
  white-space: wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

#errorDiv i {
  font-size: 3em;
  margin: 15px 10px 15px 5px;
  align-self: center;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin: 30px 0;
}

.input {
  position: relative;
}

.input-container input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 10px 40px 10px 15px;
}

.input i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.special {
  padding: 10px 70px 10px 15px !important;
}

.passwordIcon {
  right: 50px !important;
}

.input-container input::placeholder {
  color: white;
  font-weight: 500;
}

.tos-container {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  font-size: 14.5px;
  margin: -5px 0px 20px;
  line-height: 0;
}

.tos-container label input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: white;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 4.5px;
}
.tos-container label input[type="checkbox"]:checked {
  background-color: white; /* Change background color */
}

.tos-container label input[type="checkbox"]:checked::before {
  content: "✔"; /* Custom checkmark */
  font-size: 12px;
  position: absolute;
  padding: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tos-container a {
  color: white;
  text-decoration: none;
}
.tos-container a:hover {
  text-decoration: underline;
}

.register-btn {
  width: 100%;
  background-color: deepskyblue;
  color: white;
  border: none;
  outline: none;
  padding: 15px;
  font-weight: bold;
  font-size: 0.9em;
  border-radius: 20px;
  border: 2px solid white;
  transition: all 0.3s;
}

.register-btn:hover {
  transform: scale(0.9);
}

.link-container {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.link-container p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.link-container p a:hover {
  text-decoration: underline;
}
