<%- include('errorhead') -%>
    <p class="errortext">
      <%= error %>
    </p>
    <p class="errorurl"><%= errorurl %></p>
    <a href="/home">
    <button class="btn-404"><p>Go Back</p><i class="bx bx-arrow-out-up-right-square"></i></button>
    </div></a>
<%- include('errorfooter') -%>